.app {
}

.app__main {
  padding: 2rem;
}

.app__intro {
  margin-bottom: 2rem;
}

.app__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem; 
}

.app__panel--left {
    width: 70%;
}

.app__panel--right {
    width: 30%;
    border: solid 1px black;
}
